@import "./variables.module.css";

.WeatherInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.WeatherInfo h1 {
  font-size: 20px;
  text-align: center;
  margin: 0;
}
.WeatherInfo h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

.WeatherInfo h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.WeatherInfo .temperature-container {
  display: flex;
  align-items: center;
}

.WeatherInfo ul {
  margin: 0;
  padding: 0;
  color: var(--light-gray-color);
}
.WeatherInfo li {
  list-style: none;
}

.WeatherInfo .description {
  /*circular gradient border*/
  border: 2px;
  position: relative;
  padding: 30px;
  /**/
  display: inline-block;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(0, 118, 165, 0.6);
}

.WeatherInfo .description::after {
  /*circular gradient border*/
  content: "";
  border-radius: 999px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*conic-gradient([from angle] [at position,] color [degree], color [degree], ...);
  By default, angle is 0deg and position is center.
  If no degree is specified, the colors will be spread equally around the center point.*/
  background: conic-gradient(
    from 10deg,
    var(--khaki-color),
    #0076a5,
    46%,
    transparent 46%
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 2px),
    #fff calc(100% - 2px + 1px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 2px),
    #fff calc(100% - 2px + 1px)
  );
}

.WeatherInfo .description-title {
  margin-bottom: 5px;
}

.WeatherInfo .city {
  margin-bottom: 5px;
}

.WeatherInfo .current-date-time {
  font-size: var(--little-font-size);
  color: var(--dark-gray-color);
}
