@import "./variables.module.css";

.Weather {
  margin: 20px auto;
  border: 1px solid rgba(179, 177, 191, 0.5);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 5px;
  max-width: 650px;
}

.Weather .container {
  margin: 15px 35px 25px;
}

/*::::: search form :::::*/
.Weather .container-form {
  text-align: center;
  margin: 0 0 15px 0;
}
.Weather form {
  display: inline-flex;
  position: relative;
}

.Weather .search-input {
  width: 300px;
  height: 32px;
  font-size: 14px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  opacity: 60%;
  position: relative;
}
.Weather .search-input::placeholder {
  color: var(--khaki-color);
}
.Weather .search-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin: 5px 0 0 -30px;
  padding: 0;
  opacity: 100%;
  position: absolute;
  top: 0;
  right: 5px;
}

/*---- Target all input type search elements */
.Weather input[type="search"] {
  /* Add padding to make room for the cross symbol */
  padding-right: 35px;
}

/*----- Target the cross symbol in WebKit-based browsers (Safari & chrome) */
.Weather input[type="search"]::-webkit-search-cancel-button {
  position: absolute;
  right: 35px;
}

/*----- Target the cross symbol in Internet Explorer and Microsoft Edge */ /*test it*/
.Weather input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

/*----- Target the cross symbol in Firefox */
/*test it*/
.Weather input[type="search"]::-moz-search-cancel {
  position: relative;
  left: -15px;
}

hr {
  height: 8px;
  background-image: linear-gradient(
    30deg,
    transparent,
    var(--khaki-color),
    transparent
  );
  border: 0;
  height: 1px;
  margin-bottom: 30px;
}
