@import "./variables.module.css";

.WeatherForecast {
  margin: 50px 0 30px;
}

.WeatherForecast .WeatherForecast-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.WeatherForecast .WeatherForecast-card {
  padding: 10px 15px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: rgba(230, 244, 241, 0.3) 0px 1px 2px 0px,
    rgba(230, 244, 241, 0.15) 0px 2px 6px 2px;
  text-align: center;
}

.WeatherForecast .WeatherDailyForecast-day {
  margin-bottom: 10px;
  color: #b1e2f4;
}

.WeatherForecast .WeatherDailyForecast-description {
  margin: 8px 0;
  color: #b1e2f4;
}

.WeatherForecast .WeatherDailyForecast-temperature {
  font-size: 14px;
  color: #cee9e4;
}

.WeatherForecast .WeatherDailyForecast-temperature-min {
  opacity: 80%;
}
